/* Hero Section Styles */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  text-align: center;
  position: relative;
  padding-top: 140px;
}

.heroTitle {
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
}

.heroUnderline {
  position: relative;
  display: inline-block;
}

.heroUnderline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #A4B465; 
  border-radius: 4px;
}

.heroSubtitle {
  margin-top: 1rem;
  font-size: 1rem;
  color: #000000;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.arrow {
  width: 60px;
  height: 50px;
}

@media (max-width: 1200px) {
  .heroTitle {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 25vh;
  }

  .heroTitle {
    font-size: 3rem;
  }

  .heroSubtitle {
    font-size: 0.875rem;
  }
  
  .arrow {
    width: 30px;
    height: 25px;
  }
}

@media (max-width: 376px) {
  .heroTitle {
    font-size: 2rem;
  }

  .heroSubtitle {
    font-size: 10px;
  }
}