.decoratedSectionWrapper {
  position: relative;
  width: 100%;
  padding: 4rem 1rem;
}

/* Base */
.decorationLeft,
.decorationRight {
  position: absolute;
  z-index: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* Polaroid kiri */
.decorationLeft {
  top: 10%;
  left: 2%;
  transform: translate(-25%, -10%);
  width: clamp(180px, 22vw, 400px);
  height: auto;
}

/* Cincin kanan */
.decorationRight {
  top: 0;
  right: 0;
  transform: translate(20%, -20%) rotate(8deg);
  width: clamp(180px, 22vw, 380px);
  height: auto;
}

@media (max-width: 576px) {
  .decorationLeft {
    left: 0;
  }

  .decorationRight {
    top: 20%;
  }
}

@media (max-width: 376px) {
  .decorationLeft,
  .decorationRight {
    width: 120px;
  }
}
