.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #2F5E44;
    border-radius: 0.75rem;
    border-color: #2F5E44;
    color: #4a7c59;
    box-shadow: 0 4px 4px rgba(132, 169, 140, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #888;
    position: relative;
    width: 100%;
    height: 180px;}

.categoryIcon {
    width: 56px;
    height: 56px;
    margin-bottom: 0.5rem;}
    .categoryIcon.active{
        color: #A4B465;}
    .categoryName {
        text-align: center;
        color: #2F5E44;
        font-size: 1.375rem;
        font-weight: 500;}
    .categoryButton {
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: medium;
        color: #FFFFFF;
        background-color: #2F5E44;}


@media (max-width: 992px) {
    .categoryItem { 
        height: 150px;
    }

    .categoryIcon {
        width: 42px;
        height: 42px;
    }

    .categoryName {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .categoryIcon {
        width: 32px;
        height: 32px;
    }
}