:root {
  --background: #F5F5F5;
  --foreground: #000000;

  /* Primary Colors */
  --color-primary: #a4b465;
  --color-primary-dark: #2f5e44;
  --color-primary-light: #e7f0d2;

  /* Neutral Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #363636;
  --color-gray: #666666;
  --color-light-gray: #7f7f7f;
  --color-placeholder: #b6b6b6;

  /* Semantic Colors */
  --color-error: #ed1c24;
  --color-error-bg: #fff1f2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

@media (max-width: 299px) {
  main {
    display: none !important;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
