.sectionWrap {
  padding: 5rem 8rem;
  display:flex;
  justify-content:center;
  background: transparent;}

.card {
  width:100%;
  background: #A4B465;
  border-radius: 4rem;
  padding: 3.25rem 0;
  position: relative;}

.heading {
  text-align:center;
  color: #2F5E44;
  font-size: 5rem;
  margin-bottom: 3rem;
  font-weight: 700;}

.mudah {
  width: 250px;}

.mockupWrap {
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;}
  .dashboard {
    position: relative;
    border-radius: 3.25rem;
    overflow: hidden;
    background: transparent;}
    .dashboard img {
      width: 1000px;}

/* floating tags */
.tagTopRight {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(600px, -280px);
  width: auto;
  z-index: 2;
}

.tagRight {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(600px, 80px);
  width: auto;
  z-index: 2;
}

.tagLeft {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-600px, 120px);
  width: auto;
  z-index: 2;
}

/* responsive */
@media (max-width: 1400px) {
  .heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .tagTopRight {
    transform: translate(470px, -220px) scale(0.9);
    width: 180px;
  }

  .tagRight {
    transform: translate(460px, 100px) scale(0.9);
    width: 180px;
  }

  .tagLeft {
    transform: translate(-470px, 100px) scale(0.9);
    width: 180px;
  }

  .dashboard img {
    width: 800px;
  }
}

@media (max-width: 1200px) {
  .sectionWrap {
    padding: 2.5rem 4rem;
  }

  .heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .tagTopRight {
    transform: translate(500px, -200px) scale(0.8);
  }

  .tagRight {
    transform: translate(500px, 100px) scale(0.8);
  }

  .tagLeft {
    transform: translate(-500px, 80px) scale(0.8);
  }

  .mudah {
    width: 180px;
  }
}

@media (max-width: 992px) {
  .tagTopRight {
    transform: translate(400px, -160px) scale(0.7);
  }

  .tagRight {
    transform: translate(400px, 100px) scale(0.7);
  }

  .tagLeft {
    transform: translate(-400px, 100px) scale(0.7);
  }
  
  .card { 
    padding: 20px; 
  }

  .dashboard img {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .sectionWrap {
    padding: 2.5rem;
  }

  .tagTopRight,
  .tagRight,
  .tagLeft {
    display: none;
  }

  .dashboard img {
    width: 100%;
    
  }
}

@media (max-width: 576px) {
  .dashboard {
    border-radius: 2rem;
  }

  .sectionWrap {
    padding: 1.5rem;
  }

  .heading {
    font-size: 2rem;
  }

  .mudah {
    width: 140px;
  }

  .card {
    border-radius: 3rem;
  }
}

@media (max-width: 376px) {
  .heading {
    font-size: 1.5rem;
  }

  .mudah {
    width: 80px;
  }
}
