.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
  transition: opacity 0.3s ease;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.spinner {
  border: 4px solid var(--color-primary);
  border-top: 4px solid rgb(47, 94, 68);
  border-radius: 50%;
  width: clamp(50px, 10vw, 70px);
  height: clamp(50px, 10vw, 70px);
  animation: spin 2s linear infinite;
  margin-bottom: 1rem;
}

.text {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  color: var(--color-black);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
