.decoratedSectionWrapper {
  position: relative;
}

.decoration {
  position: absolute;
  top: 0; 
  z-index: 10; 
  display: none; 
}

@media (min-width: 768px) {
  .decoration {
    display: block;
  }
}

.decoration1 {
  left: 5%;
  transform: translateY(-40%);
}

.decoration2 {
  top: 5%;
  right: -5%; 
  transform: translateY(-50%) rotate(8deg);
}